body{
    text-align: center;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EBE3D5;
}

/* title - title and sub-title*/
.title-container{
    margin-top: 200px;
}

h1{
    font-style: italic;
    font-size: 65px;
    margin-bottom: 0;
}

h3{
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    margin-top: 10px;
}

/* content - current color name & button */
.content-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h2{
    margin-bottom: 45px;
}

button{
    background-color: rebeccapurple;
    color: rgb(255, 208, 0);
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    letter-spacing: 1.5px;
}

button:hover{
    background-color: rgb(137, 70, 204);
    padding: 22px 44px;
    color: rgb(255, 219, 101);
}