@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    margin: 0;
    background-color: #240A34;
    /*
    color --
    #453F78
    #00224D
    #222831
    */
}

/* main wrapper */
.main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.title{
    text-align: center;
    color: #FF204E;
    font-size: 35px;
    font-weight: 200;
}

/* timer container */
.timer-box{
    background-color:#F6F5F5;
    width: 500px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
}

.timer{
    font-size: 100px;
    font-weight: 100;
}

.btns{
    width: 100%;
    display: flex;
}
button{
    padding: 15px;
    border: none;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
}
.btn-start{
    background-color: #FF204E;
    width: 100%;
    transition: 0.5s;
}
.btn-start:hover{
    background-color: #e31d45;
}
.btn-reset{
    background-color: #c33a63;
    width: 100%;
    transition: 0.5s;
}
.btn-reset:hover{
    background-color: #c51f51;
}

.motivation{
    font-size: 14px;
    margin-top: 12.5px;
}
